@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bar: 45px;
  --black: #282828;
  --white: #ffffff;
}

/* font embeds */
@font-face {
	font-family: 'sans';
	src: url('/fonts/euro.woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'sans-ex';
	src: url('/fonts/euroEX.woff');
	font-weight: 500;
	font-style: normal;
}

/* FONT */
body{
  font-family: 'sans', 'helvetica','arial'; 
  font-weight: 500;
  font-size: 1.25em;

}

h1{
  text-transform: uppercase;
  font-size:18pt;
  font-weight: bold;
  line-height: .875em;
  margin-bottom: 20px;
}

h2{
  font-family: 'sans-ex', 'helvetica','arial'; 
  font-size:10pt;
  line-height: .875em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p, ul, ol{
  font-size: 1.15em;
  margin-bottom: 1rem;
}

.formBut p{
  font-size: 1.15em;
  margin-bottom: 0;
}


li{
  margin: 20px 0;
  position: relative;
}

li::before{
  content: "";
  position:absolute;
  width:100px;
  border: 1px solid var(--black);
  transform: translate(-110%, 15px);
}

textarea:focus{
  border-color: #4F8193;
  color: #4F8193;
}


.text-sm, .text-sm p{
  font-size: 9pt;
  line-height: 1em;
}
.text-nav{
  font-family: 'sans-ex', 'helvetica','arial'; 
  font-size:7pt;
  letter-spacing: 4px;
}

.nav-item.selected .nav-des{
 color:white;
 opacity:0;
}


.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }


/* NAV */
.nav-item{
  transition: all ease-in-out .25s;
  height:var(--bar);
}


.logo{
  top:8px;
  left:8px;
  transition: all ease-in-out .5s;
}

.phase-0 .logo{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) scale(8.0);

}

.phase-0 .nav-one{
  height:100vh
}

.phase-1 .nav-one{
  height:calc(100vh - (var(--bar)*3));
}

.phase-2 .nav-two{
  height:calc(100vh - (var(--bar)*3));
}

.phase-3 .nav-three{
  height:calc(100vh - (var(--bar)*3));
}

.stage{
  height:calc(100vh - (var(--bar)*3));
}

/* layout */
.buff{
  padding-bottom:56.25% ;
}

.toggle-bar{
  transition: all ease-in-out .25s;
  left:0;
}

.toggle-right .toggle-bar{
  left: 50%;
}



/* cta */
.formBut {
  background-color: #ffffff;
  color: var(--black);
  transition: all .25s ease-in-out;
}

.active{
  background-color: #000000;
  color: var(--white);
}

.checked .radial-dot{
  background-color: var(--black);
}

.checked {
  opacity: 1;
}


@media (max-width: 900px) {
  h1{font-size:1.25rem;line-height: 1.15em;}
  p, ul, ol, li{font-size: 1em}
  .text-nav{letter-spacing: 3px;}

}

@media (max-width: 400px) {
  h1{font-size:1.25rem;line-height:1.15em}
  p, ul, ol, li{font-size: .875em}
  .text-nav{letter-spacing: 3px;}

}